{% extends "base.html" %}

{% block title %}
Index
{% endblock title %}

{% block style %}
{% endblock style %}

{% block aside %}
    {% for book in books %}
        <div class="aside-item">
            <a href="{{ url_for('books.book_view', book_id=book.id)}}"
            class="aside-link"
            title="{{book.title}}">
                {{ book.title }}
            </a>

            <details class="aside-menu" name="book-dropdown">
                <summary class="three-dots">⋮</summary>
                <div class="dropdown-content">
                    <form action="{{ url_for('home.delete_book', book_id=book.id) }}" method="POST">
                        <button type="submit" class="dropdown-item dropdown-delete-btn">Delete</button>
                    </form>
                </div>
            </details>
        </div>
        
        {% endfor %}
    </div>
{% endblock aside %}

{% block body %}

    <div class="button-group">

        <details name="menu" {% if user_text %} open {% endif %}>
            <summary>Print text now</summary>
            <form method="POST" style="margin-top: 40px;">
                <textarea id="message" name="content_text" placeholder="Input your text" rows="4" cols="40"></textarea>
                <button type="submit" class="btn-primary">Enter</button>
            </form>
        </details>
        
        <details name="menu">
            <summary>Input file</summary>
            <form method="POST" enctype="multipart/form-data" style="margin-top: 40px;">
                <input type="file" name="content_file" style="height: auto; width: 180px;">
                <button type="submit" style="block-size: 50px; inline-size: 60px">Enter</button>
            </form>
        </details>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if user_text %}
    <p>Количество слов: {{ words_count }}</p>
    <div class="output">
        <p>
            {{ user_text | safe }}
        </p>
    </div>
    {% endif %}

{% endblock body %}
