body {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
}

aside {
    width: 210px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    
}

/* > говорит чтобы только главный элемент учитывался */
aside:has(> details:not([open])) {
    width: 60px;
    
}

aside a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;          
    color: white;
    border: 2px solid white;
    padding: 10px;
    display: inline-block;
    transition: 0.2s;
    flex-shrink: 0;
}

aside a:hover {
    background-color: white;
    color: black;
}

main {
    padding: 0px 250px 0px 250px;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

details[open] {
    /* color: yellow; */
    /* display: flex; */
    /* height: 100%; */
    /* flex-direction: column;    */
}

.aside-links details a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

summary:hover {
    background-color: #333333;
    transition: 0.3s;
}

.aside-links {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.reset-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.menu-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-primary {
    height: 50px;
    width: 60px;
    cursor: pointer;
}
