<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/CSS.css') }}">
        
        {% block extra_head %}{% endblock extra_head %}
        
        <style>
            {% block style %}{% endblock style %}
        </style>
    </head>
    <body>
        <div class="container">
            <aside>
                <details id="mainSidebar">
                <script>
                    if (localStorage.getItem('mainSidebarOpen') === 'true') {
                        document.currentScript.parentElement.open = true;
                    }
                </script>
                    <summary>&#9776;</summary>
                    <div class="aside-links">
                        {% block aside %}{% endblock aside %}
                    </div>
                </details>
            </aside>
            <main>
                {% block body %}{% endblock body %}
            </main>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const sidebar = document.getElementById('mainSidebar');
                
                if (sidebar) {
                    const isSidebarOpen = localStorage.getItem('mainSidebarOpen');
                    
                    if (isSidebarOpen === 'true') {
                        sidebar.open = true;
                    } else if (isSidebarOpen === 'false') {
                        sidebar.open = false;
                    }

                    sidebar.addEventListener('toggle', () => {
                        localStorage.setItem('mainSidebarOpen', sidebar.open);
                    });
                }
            });
        </script>
    </body>
</html>
