{% extends "base.html" %}

{% block title %}
Index
{% endblock title %}

{% block style %}
.output {
    hyphens: auto;
    word-break: break-all;
}
{% endblock style %}

{% block body %}

<div>

    <details {% if user_text %} open {% endif %}>
        <p><summary>Print text now</summary></p>
        <!--<form method="POST">
            <input type="text" name="content" placeholder="Input your text" style="width: 250px; height: 40px">
            <button type="submit" style="block-size: 45px; inline-size: 50px; ">Enter</button>
        </form> -->
        <form method="POST">
            <textarea id="message" name="content" placeholder="Input your text" rows="4" cols="40"></textarea>
            <button type="submit" style="block-size: 50px; inline-size: 60px; ">Enter</button>
        </form>
    </details>
    
    {% if user_text %}
    
    <p>Количество слов: {{ words_count }}</p>
    <div class="output">
        <p>
            {{ user_text | safe }}
        </p>
    </div>
</div>

{% endif %}

{% endblock body %}
