{% extends "base.html" %}

{% block title %} Book {% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
    <script src="{{ url_for('static', filename='js/book.js') }}" defer></script>
{% endblock extra_head %}

{% block style %}
    :root {
        --paragraph-spacing: {{ session.get('config', {}).get("paragraph-spacing", 15) }}px;
    }
{% endblock style %}

{% block aside %}
    <div class="chapters">
        {% for ch in book.chapters.order_by('order_number') %}
            <a  href="{{ url_for('books.book_view', book_id=book.id, chapter_id=ch.order_number) }}" 
                class="{% if ch.order_number == chapter.order_number %}active{% endif %}"
                title="{{ch.title}}"
                >
                {{ ch.title }}
            </a>
        {% endfor %}
    </div>

    <div class="sidebar-divider" id="sidebarDivider">
        <button class="toggle-bookmarks-btn" id="toggleBookmarksBtn" type="button" title="Hide/Show bookmarks">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <span>Bookmarks</span>
        </button>
        <div class="drag-handle">•••</div>
    </div>

    <div class="bookmarks" id="bookmarksPanel">
        <script>
            if (localStorage.getItem('bookmarksOpen') === 'false') {
                document.currentScript.parentElement.style.display = 'none';
            }
        </script>

        {% for bookmark in bookmarks %}
            <div class="aside-item">
                <a href="{{ url_for('books.book_view', book_id=bookmark.book_id, chapter_id=bookmark.chapter.order_number) }}"
                class="aside-link {% if bookmark.chapter.order_number == chapter.order_number %}active{% endif %}"
                title="{{bookmark.title}}">
                    {{ bookmark.title }}
                </a>

                <details class="aside-menu" name="bookmark-dropdown">
                    <summary class="three-dots">⋮</summary>
                    <div class="dropdown-content">

                        <button type="button" class="button dropdown-item edit-triger-btn" onclick="startEdit(this)">Edit</button>
                        
                        <form action="{{ url_for('books.delete_bookmark', book_id=bookmark.book_id, chapter_id=bookmark.chapter_id) }}" method="POST">
                            <button type="submit" class="dropdown-item dropdown-delete-btn">Delete</button>
                        </form>
                    </div>
                </details>

                <form action="{{ url_for('books.edit_bookmark', book_id=bookmark.book_id, chapter_id=bookmark.chapter_id) }}", method="POST" class="bookmark-edit-form">
                    <input type="text" name="new_title" value="{{bookmark.title}}" class="bookmark-edit-input" required autocomplete="off">
                    <span>
                        <button type="submit" class="save-edit-btn" title="Save">✓</button>
                        <button type="button" class="cancel-edit-btn" onclick="cancelEdit(this)" title="Cancel">✕</button>
                    </span>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock aside %}

{% block top_bar %}
    <a href="/" class="button button-back">Home</a>

    {% if chapter.order_number > 0 %}
        <a href="{{ url_for('books.book_view', book_id=book.id, chapter_id=chapter.order_number - 1) }}" class="button button-pagination">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </a>
    {% else %}
        <button class="button button-pagination" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </button>
    {% endif %}

    <form method="POST" class="bookmark-form" action="{{ url_for('books.set_bookmark', book_id=book.id, chapter_id=chapter.order_number) }}">
        <input type="hidden" name="paragraph-id" value="p-0">
        <button type="submit" class="button button-mark">SetMark</button>
    </form>

    {% if chapter.order_number < total_chapters - 1 %}
        <a href="{{ url_for('books.book_view', book_id=book.id, chapter_id=chapter.order_number + 1) }}" class="button button-pagination">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </a>
    {% else %}
        <button class="button button-pagination" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </button>
    {% endif %}
{% endblock top_bar %}

{% block settings %}
    <label for="paragraph-spacing-select">Paragraph spacing:</label>
    <input type="range" name="paragraph-spacing" id="paragraph-spacing-select" min="0" max="50" value="{{ session.get('config', {}).get("paragraph-spacing", 15) }}" oninput="this.nextElementSibling.value = this.value">
    <output>{{ session.get('config', {}).get("paragraph-spacing", 15) }}</output>
{% endblock settings %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if text %}
        <p style="font-size: 16px; color: #888;">Words count: {{ words_count }}</p>
        <div class="output" data-active-bookmark="{{ chapter.bookmark.paragraph_id if chapter.bookmark else '' }}">
            {{ text | safe }}
        </div>
    ```
    {% endif %}

    <div id="customContextMenu" class="custom-context-menu">
        <form method="POST" class="bookmark-form" action="{{ url_for('books.set_bookmark', book_id=book.id, chapter_id=chapter.order_number) }}">
            <input type="hidden" name="paragraph-id" id="paragraphId" value="">
            <button type="submit" class="button button-mark">SetMark</button>
        </form>
    </div>

{% endblock body %}
